training_state
figures/
figures/*
notebooks/
notebooks/*

results/
results/*
results_sweep/
results_sweep/*
eval_teammates/
eval_teammates/*
explore_results/
explore_results/*
.vscode/
.vscode/*

# pycache
**/__pycache__/
**/*.pyc
