EGO_ACTOR_TYPE: s5
TRAIN_SEED: 204829
NUM_EVAL_EPISODES: 20
NUM_ENVS: 16
LR: 1.e-4 
UPDATE_EPOCHS: 15
NUM_MINIBATCHES: 4
GAMMA: 0.99
GAE_LAMBDA: 0.95
CLIP_EPS: 0.05
ENT_COEF: 0.01
VF_COEF: 1.0
MAX_GRAD_NORM: 1.0
ANNEAL_LR: true