# @package algorithm
# ^ tells hydra to place these value directly under algorithm key

ALG: paired_ued
TOTAL_TIMESTEPS: 7.5e7  # divided between conf, ego, and br training
NUM_CHECKPOINTS: 10
SP_WEIGHT: 0.5 # conf-ego weight set to 1 - conf-br weight
PARTNER_POP_SIZE: 5
NUM_ENVS: 16
LR: 1.e-4
UPDATE_EPOCHS: 15
NUM_MINIBATCHES: 4
GAMMA: 0.99
GAE_LAMBDA: 0.95
CLIP_EPS: 0.05
ENT_COEF: 0.01
VF_COEF: 1.0
MAX_GRAD_NORM: 1.0
ANNEAL_LR: false
