# @package algorithm
# ^ tells hydra to place these value directly under algorithm key
ALG: ppo_ego
EGO_ACTOR_TYPE: s5
NUM_EGO_TRAIN_SEEDS: 1
TOTAL_TIMESTEPS: 1e7
NUM_CHECKPOINTS: 5
NUM_ENVS: 8
LR: 1.e-4 
UPDATE_EPOCHS: 15
NUM_MINIBATCHES: 4
GAMMA: 0.99
GAE_LAMBDA: 0.95
CLIP_EPS: 0.05
ENT_COEF: 0.01
VF_COEF: 0.5
MAX_GRAD_NORM: 1.0
ANNEAL_LR: true
partner_agent: # partner config for ppo_ego
  name: ippo
  path: results/lbf/ippo/2025-05-30_14-01-43/saved_train_run/
  actor_type: mlp
  ckpt_key: final_params
  idx_list: [0]
  # name: rotate # overcooked cramped room
  # path: results/overcooked-v1/cramped_room/oe_persistent/paper-v0:1reg/2025-05-10_16-28-55/saved_train_run/
  # actor_type: actor_with_double_critic
  # custom_loader: 
  #   name: open_ended # if null, use default loader
  #   type: ego # options: ego, partner
  # ckpt_key: final_buffer
  # idx_list: [[0, -1]]